
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
     <meta charset="UTF-8" />
    <title>BCORE Admin Dashboard Template | Login Page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- GLOBAL STYLES -->
     <!-- PAGE LEVEL STYLES -->
	 
	 <link href="assets/css/forms.css" rel="stylesheet" type="text/css">
	 <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	 <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/login.css" />
    <link rel="stylesheet" href="assets/plugins/magic/magic.css" />
     <!-- END PAGE LEVEL STYLES -->
   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->
<body >

   <!-- PAGE CONTENT --> 
    <div class="container">
    <div class="text-center">
        <img src="assets/img/logo.png" id="logoimg" alt=" Logo" />
    </div>
     
	<div class="account-container register">
	
	<div class="content clearfix">
		
		<form action="#" method="post">
		
        <div>
            <header><!-- start of header -->
    
    </div>
</header>
            <div class="content" style="padding-top: 2%; padding-bottom: 1%; padding-top: 3%; padding-left: 15%;">
                <script type="text/javascript">

</script>

<div class="row">
    <div id="UpdatePanel1">

    <div class="col-lg-12"  style="text-align: center; vertical-align: top; ">
       <p> <strong style="font-family: Verdana; font-size: large; font-weight: bold; color:#19bc9c;margin-left:-20%;">Registration Form<br /> <br /></strong> <p>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px; color: #19bc9c;">
            <strong>My Name <span style="color: red;">*</span>:</strong>
        </div>
        
	<div class="col-lg-6 " style="padding: 5px;">
	<input type="hidden" name="f_name" id="f_name"/>
	<input name="firstName" placeholder="Enter Full Name" required="required" title="First Name is compulsory" type="text" id="txtFname" class="form-control medium" style="width:100%;" />
	   </div>
		
		</div>
		
	   
	

<div class="col-lg-12">
<br/>
    <div class="col-lg-2" style="padding: 5px; color: #19bc9c;">
        <strong> Contact Number <span style="color: red;">*</span>:</strong>
        <br />
	</div>
    <div class="col-lg-3 " style="padding: 5px;">
        <input type="hidden" name="TextBoxWatermarkExtender2_ClientState" id="TextBoxWatermarkExtender2_ClientState" />
        <input name="mobileNumber" pattern="[0-9]{1,10}" placeholder="Enter Mobile Number" required="required" title="Mobile No. is is compulsory" type="text" id="txtPrimaryMobile" class="form-control medium" style="width:100%;" />
	</div>
    <div class="col-lg-3 " style="padding: 5px;">
        <input type="hidden" name="TextBoxWatermarkExtender1_ClientState" id="TextBoxWatermarkExtender1_ClientState" />
        <input name="telephoneNumber" placeholder="Enter Teleplone Number" type="text" id="txtSecondaryMobile" class="form-control medium" style="width:100%;" />
      <br />
	</div>
    <div class="col-lg-4 " style="padding: 5px;">
    </div>
</div>


					
<div class="col-lg-12">
    <div class="col-lg-2 " style="padding: 5px; color: #19bc9c;">
        <strong>Email <span style="color: red;">*</span>:</strong>
      <br/>  
   </div>
    <div class="col-lg-6 " style="padding: 5px;">
<input type="hidden" name="email" id="email" />
<input name="primaryEmailAddress" type="text" id="txtEmailId" class="form-control medium" style="width:100%;" required="required" pattern="[^ @]*@[^ @]*" placeholder="Email@domain.com"/>
		<br/>
	</div>
</div>

	
	<div class="col-lg-12">
		<div class="col-lg-2 " style="padding: 5px; color: #19bc9c;">
        <strong> Password <span style="color: red;">*</span>:</strong>
        <br />
		</div>
		<div class="col-lg-6 " style="padding: 5px;">
        <input type="hidden" name="password" id="password" />
        <input name="txtPassword" type="password" id="txtEmailId" class="form-control medium" style="width:100%;" required="required" placeholder="Enter Password"/>
        </br>
		</div>
	</div>
								
																
<div class="col-lg-12">
	<div class="col-lg-2 " style="padding: 5px; color: #19bc9c;">
        <strong>Business Location<span style="color: red;">*</span>:</strong>
        <br />
        <!--label style="font-size: x-small; color:#19bc9c;">
            Help us to serve you better
        </label-->
    </div>
    <div class="col-lg-6 " style="padding: 5px;">
    
    <textarea name="BusinessLocation" placeholder="Enter Business Location" rows="2" cols="20" id="txtComment" class="form-control medium" style="width:100%;">
	</textarea><br>
</div>
</div>
	

<div class="col-lg-12">
</br>
<div class="col-lg-2" style="padding: 5px; color: #19bc9c;">
    <strong>Personal Note <span style="color: red;">*</span>:</strong>
    <br />
    <!--label style="font-size: x-small; color: #19bc9c;">
        Post your enquiry or suggestion
    </label-->
</div>
<div class="col-lg-6 " style="padding: 5px;">
    
    <textarea name="personalNote" placeholder="Post your quiry or suggestion" rows="2" cols="20" id="txtComment" class="form-control medium" style="width:100%;">
	</textarea><br><br>
	
 <input type="hidden"  name="hideval" value="true"  /> 
 <input type="submit" class="styled-button-8" value="Submit Details" /> 

<input type="reset" class="styled-button-10" value="Clear Details" /> 	
</div>					

                            
</script>
				
			
			
		</form>
		</div>
		</div>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->



</br>

<!-- Text Under Box -->

<div class="login-extra style=" text-align: center;">
<p> <strong style="font-family: Verdana; font-size: large; font-weight: bold; color:red;margin-left:15%;">Already have an account? <a href="login.html">Click Here For Login to your account</a></strong> <p>
	
</div> <!-- /login-extra -->



     <!-- GLOBAL SCRIPTS -->
    <script src="assets/plugins/jquery-2.0.3.min.js"></script>
     <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->


      <!-- PAGE LEVEL SCRIPT-->
 <script src="assets/js/jquery-ui.min.js"></script>
 <script src="assets/plugins/uniform/jquery.uniform.min.js"></script>
<script src="assets/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="assets/plugins/chosen/chosen.jquery.min.js"></script>
<script src="assets/plugins/colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<script src="assets/plugins/validVal/js/jquery.validVal.min.js"></script>
<script src="assets/plugins/daterangepicker/daterangepicker.js"></script>
<script src="assets/plugins/daterangepicker/moment.min.js"></script>
<script src="assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>
<script src="assets/plugins/timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="assets/plugins/switch/static/js/bootstrap-switch.min.js"></script>
<script src="assets/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
<script src="assets/plugins/autosize/jquery.autosize.min.js"></script>
<script src="assets/plugins/jasny/js/bootstrap-inputmask.js"></script>
       <script src="assets/js/formsInit.js"></script>
        <script>
            $(function () { formInit(); });
        </script>
        
     <!--END PAGE LEVEL SCRIPT-->
     
</body>
     <!-- END BODY -->
</html>
