    <!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>


 <script type="text/javascript">

fucntion loadXMLDoc()

{
    alert("In Function");
    var xmlhttp;

    if(window.XMLHttpRequest)
    {
        xmlhttp=new XMLHttpRequest();

        var pkgname=document.getElementById("newPkgName").value;
        alert(pkgname);

        var pkgvalidity=document.getElementById("newPkgValidity").value;
        alert(pkgvalidity);
    }
    xmlhttp.onreadystatechange=function()
    {
        if(xmlhttp.readystate==4 && xmlhttp.status==200)
        {
            document.getElementById("txtPrice").innerHTML=xmlhttp.responseText;

        }
    }
    xmlhttp.open("GET","/chngpkg/pkgprice?q="+pkgname,true);
    xmlhttp.send();
}

</script>    

<% include partials/head.html %>
</head>

    <!-- END HEAD -->

    <!-- BEGIN BODY -->
<body class="padTop53 " >

    <!-- MAIN WRAPPER -->
    <div id="wrap" >
     

        <!-- HEADER SECTION -->
<% include partials/navbar.html %>
        <!-- END HEADER SECTION -->



        <!-- MENU SECTION -->
<% include partials/user_menubar.html %>
        <!--END MENU SECTION -->



        <!--PAGE CONTENT -->
        <div id="content">
             
            <div class="inner" style="min-height: 700px;">
                <div class="row">
                    <div class="col-lg-12">
                        <center><h3><strong><font color="blue">Change Package</font></strong></h3></center>
                    </div>
                </div>
                  <hr />
                 
                 
                 <!--TABLE, PANEL, ACCORDION AND MODAL  -->
                 
                <form action="/chngpkg/save" method="post">          
        <div class="row">
    <div id="UpdatePanel1">

  <div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px;">
        <strong>Current Package :<span style="color: red;"></strong>
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-hand-right"></i></span>

		<input name="txtCurrPkgName" type="text" id="txtCurrPkgName" class="form-control medium" style="width:100%;" />

		<input name="txtPrice" type="text" id="txtPrice" class="form-control medium" style="width:100%;" />

		</div>
	    </div>
		</br>

        <input type="hidden" name="f_name" id="f_name"/>
        <input name="txtCurrPkgName" type="text" id="txtCurrPkgName" class="form-control medium" style="width:100%;" />
        </div>
        </div>
        </br>

    </br>
    </br>
        </div>
        
         <div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px;">
        <strong>Validity :<span style="color: red;"></strong>
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-calendar"></i></span>

		<input name="txtCurrPkgValidity" type="text" id="txtCurrPkgValidity" class="form-control medium" style="width:100%;" />

		<input name="txtPrice" type="text" id="txtPrice" class="form-control medium" style="width:100%;" />

		</div>
	    </div>
		</br>

        <input type="hidden" name="f_name" id="f_name"/>
        <input name="txtCurrPkgValidity" type="text" id="txtCurrPkgValidity" class="form-control medium" style="width:100%;" />
        </div>
        </div>
        </br>

    </br>
    </br>
        </div>
        
         <div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px;">
        <strong> Price :<span style="color: red;"></strong>
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-inr"></i></span>

		<input name="txtCurrPrice" type="text" id="txtCurrPrice" class="form-control medium" style="width:100%;" />

		<input name="txtPrice" type="text" id="txtPrice" class="form-control medium" style="width:100%;"  />

		</div>
	    </div>
		</br>

        <input type="hidden" name="f_name" id="f_name"/>
        <input name="txtCurrPrice" type="text" id="txtCurrPrice" class="form-control medium" style="width:100%;" />
        </div>
        </div>
        </br>
    </br>
    </br>

    </br>
    </br>
    </br>
    </br>
        </div>
        

        
<div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px;">
        <strong>Select Package :</strong><span style="color: red;"></span>
        <br />
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-hand-right"></i></span>
        <select class="form-control" name="newPkgName" id="newPkgName">
            <% for(var i = 0; i < pkgList.length; i++)
                     { %>                     
                  <option value="<%= pkgList[i].pkname %>">
                    <%= pkgList[i].pkname %>
                  </option>
                     <% } %>
                  </select>
            </select>
        </div>
        </div>
    </br>
    </br>
    </br>
    </div>
    
    
    <div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px;">
        <strong>Validity :</strong><span style="color: red;"></span>
        <br />
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-calendar"></i></span>
        <select class="form-control" name="newPkgValidity" id="newpkgValidity">
            <% for(var i = 0; i < pkgList.length; i++)
                     { %>                     
           <option value="<%= pkgList[i].pkgvalidity %>">
                    <%= pkgList[i].pkgvalidity %>
                  </option></a>
                     <% } %>
                  </select>
            </select>
        </div>
        </div>
    </br>
    </br>
    </br>
    </div>
    

    <div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px;">
        <strong> Price :<span style="color: red;"></strong>
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-inr"></i></span>

		</div>
	    </div>
		</br>

        <input type="hidden" name="f_name" id="f_name"/>
        <input name="txtPrice" type="text" id="txtPrice" class="form-control medium" style="width:100%;" 
        onfocus="loadXMLDoc()" />
        </div>
        </div>
        </br>

    </br>
    </br>
        </div>

    

<div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px;">
        <strong>Renew Type :</strong><span style="color: red;"></span>
        <br />
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-refresh"></i></span>
        <select class="form-control">
            <option>Immediate </option>
            <option>Schedule to next renewal</option>
            </select>
        </div>
        </div>
    </br>
    </br>
    </br>
    </div>
    
   

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary"></a> 
       <!--button type="submit" class="btn btn-default">Submit</button-->

      </div>
                
                       
                    </div>
                    
                         </form>    
             
                 
                 <!--TABLE, PANEL, ACCORDION AND MODAL  -->

                
            </div>

        </div>
        <!--END PAGE CONTENT -->

         <!-- RIGHT STRIP  SECTION -->
        
         <!-- END RIGHT STRIP  SECTION -->
    </div>

    <!--END MAIN WRAPPER -->

    <!--FOOTER-->
    <% include partials/footer.html %>
    <!--END FOOTER -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
      <script>
$( "#liChangepackage" ).addClass( "active" );
</script>



    <!-- GLOBAL SCRIPTS -->
    <% include partials/scripts.html %>
    <!-- End GLOBAL SCRIPTS -->

</body>

    <!-- END BODY -->
</html>
