<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<% include partials/head.html %>
</head>

    <!-- END HEAD -->

    <!-- BEGIN BODY -->
<body class="padTop53 " >

    <!-- MAIN WRAPPER -->
    <div id="wrap" >
        

        <!-- HEADER SECTION -->
<% include partials/navbar.html %>
        <!-- END HEADER SECTION -->



        <!-- MENU SECTION -->
<% include partials/user_menubar.html %>
        <!--END MENU SECTION -->



        <!--PAGE CONTENT -->
        <div id="content">
             
            <div class="inner" style="min-height: 700px;">
                <div class="row">
                    <div class="col-lg-12">
                        <center><h3><strong><font color="blue">Change Package</font></strong></h3></center>
                    </div>
                </div>
                  <hr />
                 
                 
                 <!--TABLE, PANEL, ACCORDION AND MODAL  -->
                 
				<form action="/chngpkg/save" method="post">          
        <div class="row">
    <div id="UpdatePanel1">


<div class="col-lg-12">

        <div class="col-lg-2" style="padding: 5px;">
        <strong>New Package</strong><span style="color: red;"></span>
        <br />
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-hand-right"></i></span>
        <input type="hidden" name="password" id="password" />
        <input name="oldPassword" type="password" id="oldPassword" class="form-control medium" style="width:100%;" required="required" placeholder=""/>
        </div>
        </div>
    </br>
    </br>
    </br>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px;">
        <strong>Validity</strong><span style="color: red;"></span>
        <br />
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-calendar"></i></span>
        <input type="hidden" name="password" id="password" />
        <input name="newPassword" type="password" id="newPassword" class="form-control medium" style="width:100%;" required="required" placeholder=""/>
        </div>
        </div>
    </br>
    </br>
    </br>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px;">
        <strong>Price</strong><span style="color: red;"></span>
        <br />
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-inr"></i></span>
        <input type="hidden" name="password" id="password" />
        <input name="confirmPassword" type="password" id="confirmPassword" class="form-control medium" style="width:100%;" required="required"/>
        </div>
        </div>
    </br>
    </br>
    </br>
    </div>

<div class="col-lg-12">
        <div class="col-lg-2" style="padding: 5px;">
        <strong>Renew Type</strong><span style="color: red;"></span>
        <br />
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
        <div class="form-group input-group">
        <span class="input-group-addon"><i class="icon-refresh"></i></span>
        <select class="form-control">
            <option>Immediate </option>
            <option>Schedule to next renewal</option>
            </select>
        </div>
        </div>
    </br>
    </br>
    </br>
    </div>
    
   
<script>
function myFunction() {
    console.log("In console");
    var x = document.getElementById("txtCurrent").value;
    console.log(x);
    var y = document.getElementById("txtValidity").value;
    console.log(y);
    var price= x * y;
    document.getElementById("txtPrice").innerHTML= price;
}
</script>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
	  <input type="submit" class="btn btn-primary"></a> 
       <!--button type="submit" class="btn btn-default">Submit</button-->

      </div>
                
                       
                    </div>
                    <strong> Current Package </strong> <input type="text" name="txtCurrPkg" value="Nil" readonly /> <br/>
                    <strong> Validity </strong> <input type="text" name="txtCurrValidity" value="Nil" readonly /> <br/>
                    <strong> Price </strong> <input type="text" name="txtCurrPrice" value="Nil" readonly /> <br/>
                         </form>    
             
				 
                 <!--TABLE, PANEL, ACCORDION AND MODAL  -->

                
            </div>

        </div>
        <!--END PAGE CONTENT -->

         <!-- RIGHT STRIP  SECTION -->
        
         <!-- END RIGHT STRIP  SECTION -->
    </div>

    <!--END MAIN WRAPPER -->

    <!--FOOTER-->
    <% include partials/footer.html %>
    <!--END FOOTER -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
      <script>
$( "#liChangepackage" ).addClass( "active" );
</script>



    <!-- GLOBAL SCRIPTS -->
    <% include partials/scripts.html %>
    <!-- End GLOBAL SCRIPTS -->

</body>

    <!-- END BODY -->
</html>
