<html>
<head><title>Create New Package</title>
</head>
<body>
<form action="creatpkg" method="post">
Package Name :<input type="text" name="txtPkgName" />
<br/>
Package Description :<input type="text" name="txtDesc" />
<br/>
Package Price :<input type="text" name="txtPrice" />
<br/>
Package Validity :<input type="text" name="txtValidity" />
<br/>
Type : <select name="pkgType">
<option value="Immediate">Immediate</option>
<option value="Schedule to next renewal">Schedule to next renewal</option>
</select>
<br/>
<input type="submit" name="submit" value="SUBMIT" />
</form>
</body>
<html>

