<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD-->
<head>
    <title>Leadlist Form</title>
<% include partials/head.html %>
</head>
    <!-- END  HEAD-->
    <!-- BEGIN BODY-->
<body class="padTop53 " >

     <!-- MAIN WRAPPER -->
    <div id="wrap">

    <!--Page Level Script-->
    <link rel="stylesheet" href="/assets/plugins/timeline/timeline.css" />
    <!--End Page Level Script-->

         <!-- HEADER SECTION -->
        <% include partials/navbar.html %>
        <!-- END HEADER SECTION -->



        <!-- MENU SECTION -->
      <% include partials/admin_menubar.html %>
        <!--END MENU SECTION -->


        <!--PAGE CONTENT -->
        <div id="content">

            <div class="inner" style="min-height:1200px;">
                <div class="row">
                    <div class="col-lg-12">


                        <center><h3><strong><font color="blue">Leadlist Form</font></strong></h3></center>



                    </div>
                </div>

                <hr />

<form action="/leadlist/save" method="post">          
	<div class="row">
    <div id="UpdatePanel1">
                            <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-clock-o fa-fw"></i> Timeline
                            </div>
                            <div class="panel-body">
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-badge success">
                                            <i class=" icon-pencil"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Feedbacks</h4>
                                                <p>
                                                    <small class="text-muted"><i class="icon-check icon-2x"></i>11 hours ago via Twitter</small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                             <% for(var i = 0; i < feedList.length; i++) { %>
     <p><b><%= feedList[i].name %>.....<%= feedList[i].username %></b>added Feedback with Subject<b><%= feedList[i].subject %>
                                                <% } %>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge warning">
                                            <i class="icon-credit-card"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Timeline Event</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Aliquam in metus eu lectus aliquet egestas.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge danger">
                                            <i class="icon-map-marker"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Timeline Event</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Lorem ipsum dolor sit scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge">
                                            <i class="icon-envelope-alt"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Timeline Event</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in metus eu lectus aliquet egestas.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge info">
                                            <i class="icon-check"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Timeline Event</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Aliquam in metus eu lectus aliquet egestas.</p>
                                                <hr />
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Action</a>
                                                        </li>
                                                        <li><a href="#">Another action</a>
                                                        </li>
                                                        <li><a href="#">Something else here</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>


                        </div>
                    </div>
                </div>




    

				 </form>   
						
					</div>
				</div>
	


            </div>




        </div>
       <!--END PAGE CONTENT -->


    </div>

     <!--END MAIN WRAPPER -->

   <!-- FOOTER -->
    <% include partials/footer.html %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
      <script>
$( "#liFeedback" ).addClass( "active" );
</script>

        <script>
            $(document).ready(function() {
                var text_max = 99;
                $('#lblCount').html(text_max + ' characters remaining');

                $('#txtDesc').keyup(function() {
                    var text_length = $('#txtDesc').val().length;
                    var text_remaining = text_max - text_length;

                    $('#lblCount').html(text_remaining + ' characters remaining');
                });
            });
            </script>
    <!--END FOOTER -->
     <!-- GLOBAL SCRIPTS -->
    <% include partials/scripts.html %>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->
</body>
    <!-- END BODY-->
    
</html>
