<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD-->
<head>
    <title>My Profile</title>
<% include partials/head.html %>
<!-- DataTables STYLES -->
    <!--link href="/assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" /-->
    <script type="text/javascript">
    function display() {       
        
             //<!-- name -->
   document.getElementById( 'lblName' ).style.display = 'none'; //hides field and shows only on submit button click
   
     document.getElementById( 'txtName' ).style.display = 'block';

     document.getElementById( 'lbluserName' ).style.display = 'none'; //hides field and shows only on submit button click
   
     document.getElementById( 'txtuserName' ).style.display = 'block';
   
   document.getElementById( 'lblAddress' ).style.display = 'none'; //hides field and shows only on submit button click
   
     document.getElementById( 'txtAddress' ).style.display = 'block';
   
   document.getElementById( 'lblConnectiontype' ).style.display = 'none'; //hides field and shows only on submit button click
   
     document.getElementById( 'txtConnectiontype' ).style.display = 'block';
   
   document.getElementById( 'lblContacttime' ).style.display = 'none'; //hides field and shows only on submit button click
   
     document.getElementById( 'txtContacttime' ).style.display = 'block';
   
   document.getElementById( 'lblDob' ).style.display = 'none'; //hides field and shows only on submit button click
   
     document.getElementById( 'txtDob' ).style.display = 'block';
   
   document.getElementById( 'lblEmail' ).style.display = 'none'; //hides field and shows only on submit button click
   
     document.getElementById( 'txtEmail' ).style.display = 'block';
   
   document.getElementById( 'lblMobile' ).style.display = 'none'; //hides field and shows only on submit button click
   
     document.getElementById( 'txtMobile' ).style.display = 'block';
   
   document.getElementById( 'lblTelephone' ).style.display = 'none'; //hides field and shows only on submit button click
   
     document.getElementById( 'txtTelephone' ).style.display = 'block';
   

   //document.getElementById( 'lblPersonalnote' ).style.display = 'none'; //hides field and shows only on submit button click

   /*document.getElementById( 'lblPersonalnote' ).style.display = 'none'; //hides field and shows only on submit button click

   
     //document.getElementById( 'txtPersonalnote' ).style.display = 'block';
   
   //document.getElementById( 'lblUsertype' ).style.display = 'none'; //hides field and shows only on submit button click
   

     //document.getElementById( 'txtUsertype' ).style.display = 'block';

     document.getElementById( 'txtUsertype' ).style.display = 'block';*/

   
        //<!-- email -->
       //Submit Button

       document.getElementById( 'button1' ).style.display = 'none';
       document.getElementById( 'button2' ).style.display = 'block';

        }
        </script>
</head>
    <!-- END  HEAD-->
    <!-- BEGIN BODY-->
<body class="padTop53 " >

     <!-- MAIN WRAPPER -->
    <div id="wrap">


         <!-- HEADER SECTION -->
        <% include partials/navbar.html %>
        <!-- END HEADER SECTION -->



        <!-- MENU SECTION -->
      <% include partials/menubar.html %>
        <!--END MENU SECTION -->


        <!--PAGE CONTENT -->
        <div id="content">

            <div class="inner" style="min-height:1200px;">
                <div class="row">
                    <div class="col-lg-12">
 <center><h3><strong><font color="blue">My Profile</font></strong></h3></center>
</div>
</div>
<hr />

<form action="/myprofile/save" method="post">            
   <table align="center" width="500" height="400" cellpadding="10">
<tr>
   <td><lable class="glyphicon glyphicon-user"> Name</lable></td>  <td><lable name="lblName" id="lblName"><%= user.name %></lable></td>
<td><input type="text" name="txtName" id="txtName" value="<%= user.name %>" style ="display: none;" /></td>
</tr>

<tr><td><td><td></td></tr>

<tr>
    <td><i class="icon-large icon-user"></i>     <lable>User Name</lable></td> <td><lable name="lbluserName" id="lbluserName"><%= user.username %></lable></td>
<br/><td><input type="text" name="txtuserName" id="txtuserName" value="<%= user.username %>" style ="display: none;" /></td>
</tr>

<tr><td><td><td></td></tr>

<tr>
    <td><i class="icon-large icon-home"></i>     <lable>Address</lable></td>  <td><lable name="lblAddress" id="lblAddress"><%= user.address %></lable></td>
<br/><td><input type="text" name="txtAddress" id="txtAddress" value="<%= user.address %>" style ="display: none;" /></td>
</tr>

<tr><td><td><td></td></tr>

<tr>
    <td><i class="icon-large icon-adjust"></i>    <lable>Connection Type</lable></td> <td><lable name="lblConnectiontype" id="lblConnectiontype"><%= user.connectiontype %></lable></td>
<br/><td><input type="text" name="txtConnectiontype" id="txtConnectiontype" value="<%= user.connectiontype %>" style ="display: none;" /></td>
</tr>

<tr><td><td><td></td></tr>

<tr>
<td><i class="icon-large icon-time"></i>     <lable>Contact Time</lable></td> <td><lable name="lblContacttime" id="lblContacttime"><%= user.contacttime %></lable></td>
<br/><td><input type="text" name="txtContacttime" id="txtContacttime" value="<%= user.contacttime %>" style ="display: none;" /></td>
</tr>

<tr><td><td><td></td></tr>

<tr>
<td><i class="icon-large icon-calendar"></i>     <lable>Date Of Birth</lable></td> <td><lable name="lblDob" id="lblDob"><%= user.dob %></lable></td>
<br/><td><input type="text" name="txtDob" id="txtDob" value="<%= user.dob %>" style ="display: none;" /></td>
</tr>

<tr><td><td><td></td></tr>

<tr>
<td><i class="icon-large icon-envelope"></i>     <lable>Email</lable></td> <td><lable name="lblEmail" id="lblEmail"><%= user.email %></lable></td>
<br/><td><input type="text" name="txtEmail" id="txtEmail" value="<%= user.email %>" style ="display: none;" /></td>
</tr>

<tr><td><td><td></td></tr>

<tr>
<td><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>     <lable>Mobile</lable></td> <td><lable name="lblMobile" id="lblMobile"><%= user.mobile %></lable></td>
<br/><td><input type="text" name="txtMobile" id="txtMobile" value="<%= user.mobile %>" style ="display: none;" /></td>
</tr>

<tr><td><td><td></td></tr>

<tr>
<td><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>     <lable>Telephone</lable></td> <td><lable name="lblTelephone" id="lblTelephone"><%= user.telephone %></lable></td>
<br/><td><input type="text" name="txtTelephone" id="txtTelephone" value="<%= user.telephone %>" style ="display: none;" />
</tr>
<!--<tr><td><td><td></td></tr> -->

<tr>
<td><input type="text" name="txtId" id="txtId" value="<%= user.id %>" hidden /></td> <td> </td>
</tr>
<tr>
<td align="center" colspan=1><button type="button" id="button1" onclick="display()" class="btn btn-primary btn-lg">Edit</button>
  <input type="submit" name="submit" id="button2" value="submit" style ="display: none;" class="btn btn-success btn-lg" class="glyphicon glyphicon-wrench" aria-hidden="true" /></td>
</tr>

</table>
</div>
</div>
</div>

</div>
</div>


                 </form>   
                        
                    </div>
                </div>
    


            




      
       <!--END PAGE CONTENT -->


    </div>

     <!--END MAIN WRAPPER -->

   <!-- FOOTER -->
    <% include partials/footer.html %>
    <!--END FOOTER -->
     <!-- GLOBAL SCRIPTS -->
    <% include partials/scripts.html %>
    <!-- END GLOBAL SCRIPTS -->
</body>
    <!-- END BODY-->
    
</html>
