<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD-->
<head>
<title>Speed Test Form</title>
<% include partials/head.html %>
</head>
    <!-- END  HEAD-->
    <!-- BEGIN BODY-->
<body class="padTop53 " >

     <!-- MAIN WRAPPER -->
    <div id="wrap">


         <!-- HEADER SECTION -->
        <% include partials/navbar.html %>
        <!-- END HEADER SECTION -->



        <!-- MENU SECTION -->
      <% include partials/user_menubar.html %>
        <!--END MENU SECTION -->


        <!--PAGE CONTENT -->
        <div id="content">

            <div class="inner" style="min-height:1200px;">
                <div class="row">
                    <div class="col-lg-12">


                        <center><h3><strong><font color="blue">Check Your Internet Speed</font></strong></h3></center>



                    </div>
                </div>

                <hr />

<form action="/speedtest/save" method="post">            
    <div class="row">
    <div id="UpdatePanel1">
	
	

	
	
	
        


            </div>

        </div>
    
    
                 </form>   
                        
                    </div>
					
					
                </div>
       
       <!--END PAGE CONTENT -->


    </div>

     <!--END MAIN WRAPPER -->

   <!-- FOOTER -->
    <% include partials/footer.html %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
      <script>
$( "#liSpeedTest" ).addClass( "active" );
</script>
    <!--END FOOTER -->
     <!-- GLOBAL SCRIPTS -->
    <% include partials/scripts.html %>
    <!-- END GLOBAL SCRIPTS -->
</body>
    <!-- END BODY-->
    
</html>
