<tr class="gradeA even">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Opera 8.5</td>
                                            <td class=" ">Win 95+ / OSX.2+</td>
                                            <td class="center ">-</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA odd">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Opera 8.0</td>
                                            <td class=" ">Win 95+ / OSX.2+</td>
                                            <td class="center ">-</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA even">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Opera 7.5</td>
                                            <td class=" ">Win 95+ / OSX.2+</td>
                                            <td class="center ">-</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA odd">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Opera 7.0</td>
                                            <td class=" ">Win 95+ / OSX.1+</td>
                                            <td class="center ">-</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA even">
                                            <td class="">Webkit</td>
                                            <td class="sorting_1">OmniWeb 5.5</td>
                                            <td class=" ">OSX.4+</td>
                                            <td class="center ">420</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA odd">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Nokia N800</td>
                                            <td class=" ">N800</td>
                                            <td class="center ">-</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA even">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Nintendo DS browser</td>
                                            <td class=" ">Nintendo DS</td>
                                            <td class="center ">8.5</td>
                                            <td class="center ">C/A<sup>1</sup>
                                            </td>
                                        </tr><tr class="gradeA odd">
                                            <td class="">Gecko</td>
                                            <td class="sorting_1">Netscape Navigator 9</td>
                                            <td class=" ">Win 98+ / OSX.2+</td>
                                            <td class="center ">1.8</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA even">
                                            <td class="">Gecko</td>
                                            <td class="sorting_1">Netscape Browser 8</td>
                                            <td class=" ">Win 98SE+</td>
                                            <td class="center ">1.7</td>
                                            <td class="center ">A</td>
                                        </tr>






                                        onfocus="verify()"

                                        ?pkname=<%=userList[i].pkname%>"

                                        <!--th class="sorting_desc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 260px;" aria-sort="descending">User Name</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 239px;">Email Id</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 168px;">Connection Type</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 124px;">Address</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 195px;">Mobile</th>
                   <!-- <th class="sorting_desc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 260px;" aria-sort="descending">Telephone</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 239px;">Accesss Type</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 239px;">Date Of Birth</th-->
                    

                    <td class=" "><%= userlist[i].email %></td>
                                            <td class="center "><%= userlist[i].connectiontype %></td>
                                            <td class="center "><%= userlist[i].address %></td>

                                            <td class=" "><%= userlist[i].mobile %></td>
                                           <!-- <td class="center "><%= userlist[i].telephone %></td> -->
                                            <td class="center "><%= userlist[i].usertype %></td>

                                             
                                            <td class=" "><%= userlist[i].dob %></td>
