<tr class="gradeA even">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Opera 8.5</td>
                                            <td class=" ">Win 95+ / OSX.2+</td>
                                            <td class="center ">-</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA odd">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Opera 8.0</td>
                                            <td class=" ">Win 95+ / OSX.2+</td>
                                            <td class="center ">-</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA even">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Opera 7.5</td>
                                            <td class=" ">Win 95+ / OSX.2+</td>
                                            <td class="center ">-</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA odd">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Opera 7.0</td>
                                            <td class=" ">Win 95+ / OSX.1+</td>
                                            <td class="center ">-</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA even">
                                            <td class="">Webkit</td>
                                            <td class="sorting_1">OmniWeb 5.5</td>
                                            <td class=" ">OSX.4+</td>
                                            <td class="center ">420</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA odd">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Nokia N800</td>
                                            <td class=" ">N800</td>
                                            <td class="center ">-</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA even">
                                            <td class="">Presto</td>
                                            <td class="sorting_1">Nintendo DS browser</td>
                                            <td class=" ">Nintendo DS</td>
                                            <td class="center ">8.5</td>
                                            <td class="center ">C/A<sup>1</sup>
                                            </td>
                                        </tr><tr class="gradeA odd">
                                            <td class="">Gecko</td>
                                            <td class="sorting_1">Netscape Navigator 9</td>
                                            <td class=" ">Win 98+ / OSX.2+</td>
                                            <td class="center ">1.8</td>
                                            <td class="center ">A</td>
                                        </tr><tr class="gradeA even">
                                            <td class="">Gecko</td>
                                            <td class="sorting_1">Netscape Browser 8</td>
                                            <td class=" ">Win 98SE+</td>
                                            <td class="center ">1.7</td>
                                            <td class="center ">A</td>
                                        </tr>